@import "./_variables";

@mixin make-layout($gutter: $grid-gutter) {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.layout {
    @include make-layout();
}

@for $i from 1 through $grid-items {
    .layout.space-#{$i} {
        &:not(.flex-column),
        &.flex-row {
            > .layout-item:not(:last-child) {
                padding-right: #{$spacer * $i};
            }
            &.flex-reverse {
                > .layout-item:not(:last-child) {
                    padding-left: #{$spacer * $i};
                }
            }
        }

        &.flex-column {
            > .layout-item:not(:last-child) {
                padding-bottom: #{$spacer * $i};
            }
            &.flex-reverse {
                > .layout-item:not(:last-child) {
                    padding-top: #{$spacer * $i};
                }
            }
        }
    }
}
