// Imports
@import "./variables";

// Theme
@include theme(o-table) using ($theme) {
    tbody {
        tr {
            &.o-table__selected {
                background: map-deep-get($theme, "table", "active");
            }
        }
    }

    .o-row-group {
        &__header,
        &__summary {
            background: map-deep-get($theme, "table", "group");
        }
    }

    .o-table-footer {
        border-top: thin solid map-get($theme, "dividers");
    }

    .o-table__empty-wrapper {
        color: map-deep-get($theme, "text", "disabled");
    }
}

.o-table {
    border-radius: $data-table-border-radius;

    > .o-table__wrapper {
        tbody {
            tr {
                &.o-table__expanded {
                    border-bottom: 0;
                }

                &.o-table__expanded__content {
                    box-shadow: $data-table-expanded-content-box-shadow;
                }

                &:first-child {
                    &:hover {
                        td {
                            &:first-child {
                                border-top-left-radius: $data-table-border-radius;
                            }

                            &:last-child {
                                border-top-right-radius: $data-table-border-radius;
                            }
                        }
                    }
                }
                &:last-child {
                    &:hover {
                        td {
                            &:first-child {
                                border-bottom-left-radius: $data-table-border-radius;
                            }

                            &:last-child {
                                border-bottom-right-radius: $data-table-border-radius;
                            }
                        }
                    }
                }
            }
        }
    }
}

.o-table__empty-wrapper {
    text-align: center;
}

.o-row-group {
    &__header,
    &__summary {
        td {
            height: $data-table-row-group-children-td-height;
        }
    }
}

.o-table__expand-icon {
    user-select: none;
    cursor: pointer;

    &--active {
        transform: rotate(-180deg);
    }
}
