.o-simple-checkbox {
    align-self: center;
    line-height: normal;
    position: relative;
    user-select: none;

    .o-icon {
        cursor: pointer;
    }
}

// Modifiers
.o-simple-checkbox--disabled {
    cursor: default;
}
