@import "../../../styles/styles";
@import "../_variables";

@include theme(o-calendar-events) using ($theme) {
    .o-event-timed {
        border: $calendar-event-border-width solid !important;
    }

    .o-event-more {
        background-color: map-deep-get($theme, "calendar", "background-color");

        &.o-outside {
            background-color: map-deep-get($theme, "calendar", "outside-background-color");
        }
    }
}

.o-calendar {
    .o-event {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $calendar-event-font-size;
        cursor: pointer;
        line-height: $calendar-event-line-height;
        margin-right: -$calendar-line-width;
        z-index: 1;
        border-radius: $calendar-event-border-radius;
    }

    .o-event-more {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $calendar-event-font-size;
        cursor: pointer;
        font-weight: bold;
        z-index: 1;
        position: relative;
    }

    .o-event-timed-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-right: $calendar-event-right-empty;
        pointer-events: none;
    }

    .o-event-timed {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: $calendar-event-font-size;
        cursor: pointer;
        border-radius: $calendar-event-border-radius;
        pointer-events: all;
    }

    &.o-calendar-events {
        .o-calendar-weekly__head-weekday {
            margin-right: -$calendar-line-width;
        }
        .o-calendar-weekly__day {
            overflow: visible;
            margin-right: -$calendar-line-width;
        }
    }
}
