@import "./_variables";
@import "../../styles/styles.scss";

@include theme(o-file-input) using ($material) {
    .o-file-input__text {
        color: map-deep-get($material, "text", "primary");

        &--placeholder {
            color: map-deep-get($material, "text", "secondary");
        }
    }

    &.o-input--is-disabled {
        .o-file-input__text {
            color: map-deep-get($material, "text", "disabled");

            .o-file-input__text--placeholder {
                color: map-deep-get($material, "text", "disabled");
            }
        }
    }
}

// Block
.o-file-input {
    input[type="file"] {
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        max-width: 0;
        width: 0;
    }
}

// Element
.o-file-input .o-file-input__text {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &.o-file-input__text--chips {
        flex-wrap: wrap;
    }

    .o-chip {
        margin: $file-input-chip-margin;
    }
}

.o-file-input .o-text-field__slot {
    min-height: $file-input-slot-min-height;
}

.o-file-input {
    &.o-input--dense {
        .o-text-field__slot {
            min-height: $file-input-slot-dense-min-height;
        }
    }
}

.o-file-input.o-text-field--filled:not(.o-text-field--single-line) {
    .o-file-input__text {
        padding-top: $file-input-filled-padding-top;
    }
}

.o-file-input.o-text-field--outlined {
    .o-text-field__slot {
        padding: $file-input-outlined-padding;
    }

    &.o-input--dense {
        .o-text-field__slot {
            padding: $file-input-outlined-dense-padding;
        }
    }
}
