@import "./variables";

.v-pagination {
    align-items: center;
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100%;

    &#{&} {
        padding-left: 0;
    }

    > li {
        align-items: center;
        display: flex;
    }

    &--disabled {
        pointer-events: none;
        opacity: $pagination-disabled-opacity;
    }

    &__item {
        font-size: $pagination-item-font-size;
        margin: $pagination-item-margin;
    }

    &__more {
        margin: $pagination-more-margin;
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        height: $pagination-more-height;
        width: $pagination-more-width;
    }
}
