@import "./_variables.scss";

.v-color-picker {
    .v-input__slider {
        border-radius: $color-picker-slider-border-radius;

        .v-slider {
            margin: 0;
        }
    }
}

.v-color-picker__alpha:not(.v-input--is-disabled) {
    .v-slider {
        border-radius: $color-picker-slider-border-radius;
        background: $color-picker-checkerboard;
    }
}

.v-color-picker__sliders {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.v-color-picker__dot {
    position: relative;
    height: $color-picker-preview-dot-size;
    width: $color-picker-preview-dot-size;
    background: $color-picker-checkerboard;
    border-radius: 50%;
    overflow: hidden;

    @include ltr() {
        margin-right: $color-picker-preview-dot-margin;
    }

    @include rtl() {
        margin-left: $color-picker-preview-dot-margin;
    }

    > div {
        width: 100%;
        height: 100%;
    }
}

.v-color-picker__hue {
    &:not(.v-input--is-disabled) {
        @include ltr() {
            background: linear-gradient(to right, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%);
        }

        @include rtl() {
            background: linear-gradient(to left, #f00 0%, #ff0 16.66%, #0f0 33.33%, #0ff 50%, #00f 66.66%, #f0f 83.33%, #f00 100%);
        }
    }
}

.v-color-picker__track {
    position: relative;
    width: 100%;
}

.v-color-picker__preview {
    align-items: center;
    display: flex;

    .v-slider {
        min-height: $color-picker-slider-height;

        &:not(.v-slider--disabled) {
            .v-slider__thumb {
                @include elevation(3);
            }

            .v-slider__track-container {
                opacity: 0;
            }
        }
    }

    &:not(.v-color-picker__preview--hide-alpha) {
        .v-color-picker__hue {
            margin-bottom: $color-picker-hue-margin-bottom;
        }
    }
}
