// Imports
@import "./variables";

// Theme
@include theme(v-btn-group) using ($theme) {
    &:not(.v-btn-group--group) {
        background: map-get($theme, "cards");
        color: map-deep-get($theme, "text", "primary");

        .v-btn.v-btn {
            border-color: map-get($theme, "dividers") !important;

            &:focus:not(:active) {
                border-color: map-deep-get($theme, "buttons", "disabled");
            }

            .v-icon {
                color: map-deep-get($theme, "group-buttons", "color");
            }
        }
    }

    &.v-btn-group--dashed {
        .v-btn.v-btn {
            border-style: dashed;
        }
    }
}

// Block
.v-btn-group {
    display: inline-flex;
    max-width: 100%;

    > .v-btn.v-btn {
        opacity: $btn-group-btn-opacity;

        &:not(:first-child) {
            margin-left: $btn-group-btn-margin-left;
        }

        &--active {
            color: inherit;
            opacity: 1;
        }

        &:after {
            display: none;
        }
    }

    &--square {
        .v-btn.v-btn.v-size--default {
            height: $btn-group-btn-height;
            min-height: 0;
            min-width: $btn-group-btn-width;
        }
    }

    &--stick {
        border-radius: $btn-group-border-radius;

        > .v-btn.v-btn {
            border-radius: 0;
            border-style: solid;
            border-width: thin;
            box-shadow: none;
            padding: $btn-group-btn-padding;
            margin-left: 0 !important;

            &:first-child {
                @include ltr() {
                    border-top-left-radius: inherit;
                    border-bottom-left-radius: inherit;
                }

                @include rtl() {
                    border-top-right-radius: inherit;
                    border-bottom-right-radius: inherit;
                }
            }

            &:last-child {
                @include ltr() {
                    border-top-right-radius: inherit;
                    border-bottom-right-radius: inherit;
                }

                @include rtl() {
                    border-top-left-radius: inherit;
                    border-bottom-left-radius: inherit;
                }
            }

            @include ltr() {
                &:not(:first-child) {
                    border-left-width: 0;
                }
            }

            @include rtl() {
                &:not(:last-child) {
                    border-left-width: 0;
                }
            }
        }
    }
}

.v-btn-group--borderless {
    > .v-btn.v-btn {
        border-width: 0;
    }
}

.v-btn-group--group {
    border-radius: 0;

    > .v-btn.v-btn {
        background-color: transparent !important;
        border-color: transparent;
        margin: $btn-group-group-btn-margin;
        min-width: auto;
    }
}

.v-btn-group--rounded {
    border-radius: $btn-group-round-border-radius;
}

.v-btn-group--shaped {
    border-radius: $btn-group-shaped-border-radius $btn-group-border-radius;
}

.v-btn-group--tile {
    border-radius: 0;
}
