@mixin paper($elevation, $radius, $shaped-radius) {
    @include radius($radius);

    &:not(.o-sheet--outlined) {
        @include elevation($elevation);
    }

    @if ($shaped-radius) {
        &.o-sheet--shaped {
            @include radius($shaped-radius);
        }
    }

    .o-sheet--dashed {
        border-width: 1px;
        border-color: currentColor;
        border-style: dashed;
    }
}

@mixin radius($r, $important: false) {
    // Key exists within the $rounded variable
    @if (map-has-key($rounded, $r)) {
        border-radius: map-get($rounded, $r) if($important, !important, null);
    } @else {
        border-radius: $r if($important, !important, null);
    }
}

@mixin sheet($component, $elevation, $radius, $shaped-radius) {
    .o-sheet.#{$component} {
        @include paper($elevation, $radius, $shaped-radius);
    }
}
