@import "./_variables.scss";

.o-rating {
    max-width: 100%;
    white-space: nowrap;

    .o-icon {
        padding: $rating-padding;
        border-radius: $rating-border-radius;
        user-select: none;
        outline: none;

        &::after {
            display: none;
        }

        @include ltr() {
            transform: scaleX(1);
        }

        @include rtl() {
            transform: scaleX(-1);
        }
    }

    &--readonly {
        .o-icon {
            pointer-events: none;
        }
    }

    &--dense {
        .o-icon {
            padding: $rating-dense-padding;
        }
    }
}
