@import "./_variables";

.v-input--checkbox {
    &.v-input--indeterminate {
        &.v-input--is-disabled {
            opacity: $checkbox-disabled-opacity;
        }
    }
}

.v-simple-checkbox {
    align-self: center;
    line-height: normal;
    position: relative;
    user-select: none;

    .v-icon {
        cursor: pointer;
    }
}

// Modifiers
.v-simple-checkbox--disabled {
    cursor: default;
}
