@use 'sass:math';
@import "./_variables.scss";

@include theme(v-progress-bar) using ($theme) {
    color: map-deep-get($theme, "text", "primary");
}

// Block
.v-progress-bar {
    background: transparent;
    overflow: hidden;
    position: relative;
    transition: 0.2s map-get($transition, "ease-in-out");
    width: 100%;
}

// Element
.v-progress-bar__buffer {
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    transition: inherit;
    width: 100%;
}

.v-progress-bar--reverse {
    .v-progress-bar__buffer {
        left: auto;
        right: 0;
    }
}

.v-progress-bar__background {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: inherit;
}

.v-progress-bar--reverse {
    .v-progress-bar__background {
        left: auto;
        right: 0;
    }
}

.v-progress-bar__content {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.v-progress-bar--reverse {
    .v-progress-bar__content {
        left: auto;
        right: 0;
    }
}

.v-progress-bar__determinate {
    height: inherit;
    left: 0;
    position: absolute;
    transition: inherit;
}

.v-progress-bar--reverse {
    .v-progress-bar__determinate {
        left: auto;
        right: 0;
    }
}

.v-progress-bar {
    .v-progress-bar__indeterminate {
        .long,
        .short {
            background-color: inherit;
            bottom: 0;
            height: inherit;
            left: 0;
            position: absolute;
            right: auto;
            top: 0;
            width: auto;
            will-change: left, right;
        }

        &--active .long {
            animation-name: indeterminate-ltr;
            animation-duration: 2.2s;
            animation-iteration-count: infinite;
        }

        &--active .short {
            animation-name: indeterminate-short-ltr;
            animation-duration: 2.2s;
            animation-iteration-count: infinite;
        }
    }
}

.v-progress-bar--reverse {
    .v-progress-bar__indeterminate {
        .long,
        .short {
            left: auto;
            right: 0;
        }

        &--active .long {
            animation-name: indeterminate-rtl;
        }

        &--active .short {
            animation-name: indeterminate-short-rtl;
        }
    }
}

.v-progress-bar__stream {
    animation: stream-ltr 0.25s infinite linear;
    border-color: currentColor;
    border-top: $progress-bar-stream-border-width dotted;
    bottom: 0;
    left: auto;
    right: -8px;
    opacity: $progress-bar-stream-opacity;
    pointer-events: none;
    position: absolute;
    top: calc(50% - #{math.div($progress-bar-stream-border-width, 2)});
    transition: inherit;
}

.v-progress-bar--reverse {
    .v-progress-bar__stream {
        animation: stream-rtl 0.25s infinite linear;
        left: -8px;
        right: auto;
    }
}

.v-progress-bar__wrapper {
    overflow: hidden;
    position: relative;
    transition: inherit;
}

// Modifier
.v-progress-bar--absolute,
.v-progress-bar--fixed {
    left: 0;
    z-index: 1;
}

.v-progress-bar--absolute {
    position: absolute;
}

.v-progress-bar--fixed {
    position: fixed;
}

.v-progress-bar--reactive {
    .v-progress-bar__content {
        pointer-events: none;
    }
}

.v-progress-bar--rounded {
    border-radius: $progress-bar-border-radius;
}

.v-progress-bar--striped {
    .v-progress-bar__determinate {
        background-image: $progress-bar-stripe-gradient;
        background-size: $progress-bar-stripe-background-size;
        background-repeat: repeat;
    }
}

.v-progress-bar--query {
    .v-progress-bar__indeterminate--active {
        .long {
            animation-name: query-ltr;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

        .short {
            animation-name: query-short-ltr;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
    }

    &.v-progress-bar--reverse {
        .v-progress-bar__indeterminate--active {
            .long {
                animation-name: query-rtl;
            }
            .short {
                animation-name: query-short-rtl;
            }
        }
    }
}

@keyframes indeterminate-ltr {
    0% {
        left: -90%;
        right: 100%;
    }
    60% {
        left: -90%;
        right: 100%;
    }
    100% {
        left: 100%;
        right: -35%;
    }
}

@keyframes indeterminate-rtl {
    0% {
        left: 100%;
        right: -90%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: -35%;
        right: 100%;
    }
}

@keyframes indeterminate-short-ltr {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short-rtl {
    0% {
        left: 100%;
        right: -200%;
    }
    60% {
        left: -8%;
        right: 107%;
    }
    100% {
        left: -8%;
        right: 107%;
    }
}

@keyframes query-ltr {
    0% {
        right: -90%;
        left: 100%;
    }
    60% {
        right: -90%;
        left: 100%;
    }
    100% {
        right: 100%;
        left: -35%;
    }
}

@keyframes query-rtl {
    0% {
        right: 100%;
        left: -90%;
    }
    60% {
        right: 100%;
        left: -90%;
    }
    100% {
        right: -35%;
        left: 100%;
    }
}

@keyframes query-short-ltr {
    0% {
        right: -200%;
        left: 100%;
    }
    60% {
        right: 107%;
        left: -8%;
    }
    100% {
        right: 107%;
        left: -8%;
    }
}

@keyframes query-short-rtl {
    0% {
        right: 100%;
        left: -200%;
    }
    60% {
        right: -8%;
        left: 107%;
    }
    100% {
        right: -8%;
        left: 107%;
    }
}

@keyframes stream-ltr {
    to {
        transform: translateX(-8px);
    }
}

@keyframes stream-rtl {
    to {
        transform: translateX(8px);
    }
}
