@import "./_variables";

// Theme
@include theme(o-overlay) using ($theme) {
    color: map-deep-get($theme, "text", "primary");
}

// Block
.o-overlay {
    align-items: center;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: $overlay-transition;
}

// Element
.o-overlay__content {
    position: relative;
}

.o-overlay__scrim {
    border-radius: inherit;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: inherit;
    width: 100%;
    will-change: opacity;
}

// Modifier
.o-overlay--absolute {
    position: absolute;
}

.o-overlay--active {
    pointer-events: auto;
}
