@import "./_variables";

@include theme(o-image) using ($theme) {
    color: map-deep-get($theme, "text", "primary");
}

// Block
.o-image {
    z-index: 0;
}

// Element
.o-image__image,
.o-image__placeholder {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.o-image__image {
    background-repeat: no-repeat;

    &--preload {
        filter: $img-preload-filter;
    }

    &--contain {
        background-size: contain;
    }

    &--cover {
        background-size: cover;
    }
}
