@import "../../styles/styles";

$text-field-slot-min-height: 36px !default;
$text-field-details-min-height: 14px !default;
$text-field-details-padding-top: 0px !default;
$text-field-details-margin-bottom: 8px !default;
$text-field-append-prepend-margin: 8px !default;