@use 'sass:math';
@import "./variables";

@include theme("o-toolbar.o-sheet") using ($theme) {
    background-color: map-get($theme, "toolbar");
}

// Sheet
@include sheet(o-toolbar, $toolbar-elevation, $toolbar-border-radius, $toolbar-shaped-border-radius);

// Block
.o-toolbar {
    contain: layout;
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    transition: $toolbar-transition;
    position: relative;

    @include elevation(4);

    .o-input {
        padding-top: 0;
        margin-top: 0;
    }
}

// Element
.o-toolbar__content,
.o-toolbar__extension {
    padding: $toolbar-content-padding-y $toolbar-content-padding-x;

    .o-btn.o-btn--icon.o-size--default {
        height: $toolbar-btn-icon-size;
        width: $toolbar-btn-icon-size;
    }

    > .o-btn.o-btn--icon {
        &:first-child {
            @include ltr() {
                margin-left: -#{math.div($toolbar-btn-icon-size, 4)};
            }

            @include rtl() {
                margin-right: -#{math.div($toolbar-btn-icon-size, 4)};
            }

            + .o-toolbar__title {
                @include ltr() {
                    padding-left: $toolbar-title-padding;
                }

                @include rtl() {
                    padding-right: $toolbar-title-padding;
                }
            }
        }

        &:last-child {
            @include ltr() {
                margin-right: -#{math.div($toolbar-btn-icon-size, 4)};
            }

            @include rtl() {
                margin-left: -#{math.div($toolbar-btn-icon-size, 4)};
            }
        }
    }

    > .o-tabs {
        height: inherit;
        margin-top: -#{$toolbar-content-padding-y};
        margin-bottom: -#{$toolbar-content-padding-y};

        > .o-slide-group.o-tabs-bar {
            background-color: inherit;
            height: inherit;
        }

        &:first-child {
            margin-left: -#{$toolbar-content-padding-x};
        }

        &:last-child {
            margin-right: -#{$toolbar-content-padding-x};
        }
    }
}

.o-toolbar__content,
.o-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
}

.o-toolbar__image {
    border-radius: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
    contain: strict;

    .o-image {
        border-radius: inherit;
    }
}

.o-toolbar__items {
    display: flex;
    height: inherit;

    > .o-btn {
        border-radius: 0;
        height: 100% !important;
        max-height: none;
    }
}

.o-toolbar__title {
    font-size: 1.25rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// Modifier
.o-toolbar.o-toolbar--absolute {
    position: absolute;
    top: 0;
    z-index: 1;
}

.o-toolbar.o-toolbar--bottom {
    top: initial;
    bottom: 0;
}

.o-toolbar.o-toolbar--collapse {
    .o-toolbar__title {
        white-space: nowrap;
    }
}

.o-toolbar.o-toolbar--collapsed {
    max-width: $toolbar-collapsed-max-width;
    overflow: hidden;

    @include ltr() {
        border-bottom-right-radius: $toolbar-collapsed-border-radius;
    }

    @include rtl() {
        border-bottom-left-radius: $toolbar-collapsed-border-radius;
    }

    .o-toolbar__title,
    .o-toolbar__extension {
        display: none;
    }
}

.o-toolbar--dense {
    .o-toolbar__content,
    .o-toolbar__extension {
        padding-top: 0;
        padding-bottom: 0;
    }
}

// @deprecated
// TODO: Remove in v3
.o-toolbar--flat {
    @include elevation(0, true);
}

.o-toolbar--floating {
    display: inline-flex;
}

.o-toolbar--prominent {
    .o-toolbar__content {
        align-items: flex-start;
    }

    .o-toolbar__title {
        font-size: 1.5rem;
        padding-top: $toolbar-prominent-padding;
    }

    &:not(.o-toolbar--bottom) .o-toolbar__title {
        align-self: flex-end;
        padding-bottom: $toolbar-prominent-padding;
        padding-top: 0;
    }
}

.theme--light,
.theme--dark {
    .o-toolbar--underlined {
        border-width: 0 0 thin 0;
        border-style: solid;

        &.theme--light {
            border-bottom-color: #0000001f !important;
        }

        &.theme--dark {
            border-bottom-color: #ffffff1f !important;
        }
    }
}
