@import "./_variables";

@include theme(o-select) using ($theme) {
    .o-select__selections {
        color: map-deep-get($theme, "text", "primary");
    }

    &.o-input--is-disabled {
        .o-select__selections {
            color: map-deep-get($theme, "text", "disabled");
        }
    }
    .o-select__selection--disabled {
        color: map-deep-get($theme, "text", "disabled");
    }
}

.o-select {
    position: relative; // For **attach** prop
    transition: all 0.3s;

    &:not(.o-select--is-multi).o-text-field--single-line {
        .o-select__selections {
            flex-wrap: nowrap;
        }
    }

    & > .o-input__control > .o-input__slot {
        cursor: pointer;
    }

    .o-chip {
        flex: 0 1 auto;
        margin: $select-chip-margin;
        height: $select-chip-height;

        &--selected:after {
            opacity: $select-selected-chip-opacity;
        }
    }

    .fade-transition-leave-active {
        position: absolute;
        left: 0;
    }

    &.o-input--is-dirty {
        ::placeholder {
            color: transparent !important;
        }
    }

    &:not(.o-input--is-dirty) {
        &:not(.o-input--is-focused) {
            .o-text-field__prefix {
                line-height: $select-prefix-line-height;
                top: $select-prefix-top;
                transition: $primary-transition;
            }
        }
    }

    &.o-text-field {
        input {
            flex: 1 1; // Doesn't resize on IE11 with 3rd param
            margin-top: 0;
            min-width: 0;
            pointer-events: none;
            position: relative;
        }
    }

    @if $select-active-icon-flip {
        &.o-select--is-menu-active {
            .o-input__icon--append .o-icon {
                transform: rotate(180deg);
            }
        }
    }

    &.o-select--chips {
        input {
            margin: 0;
        }

        .o-select__selections {
            min-height: $select-chips-selections-padding-top;
        }
        // Explicit override since active chips
        // in select are not focused
        .o-chip--select.o-chip--active::before {
            opacity: $select-active-chip-opacity;
        }

        &.o-select--chips--small {
            .o-select__selections {
                min-height: $select-small-chips-selections-min-height;
            }
        }

        &:not(.o-text-field--single-line) {
            &.o-text-field--box,
            &.o-text-field--enclosed {
                .o-select__selections {
                    min-height: $select-chips-box-enclosed-selections-min-height;
                }

                &.o-select--chips--small {
                    .o-select__selections {
                        min-height: $select-small-chips-selections-min-height;
                    }
                }
            }
        }
    }

    &.o-text-field--reverse {
        .o-select__slot,
        .o-select__selections {
            flex-direction: row-reverse;
        }
    }

    &__selections {
        align-items: center;
        display: flex;
        flex: 1 1;
        flex-wrap: wrap;
        line-height: $select-selections-line-height;
        max-width: 100%;
        min-width: 0;
        padding: 0 8px;
    }

    &__selection {
        max-width: 90%;

        &--comma {
            margin: $select-selections-margin;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__slot {
        position: relative;
        align-items: center;
        display: flex;
        max-width: 100%;
        min-width: 0;
        width: 100%;
        height: $select-slot-height;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        background-color: #fff;
    }
}

.o-input--is-focused:not(.o-input--is-disabled) .o-select__slot {
    outline: 0;
    border-color: $primary;
    border-right-width: 1px;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-radius: 2px;
    transition: all 0.3s;
}

.o-input--is-disabled .o-text-select__slot {
    background-color: #f5f5f5;
}
