@import "./variables";

.o-comment {
    margin-top: $comment-margin-top;

    &__content {
        margin-left: $comment-content-margin-left;
    }

    &__author {
        font-weight: $comment-author-font-weight;
    }
}

.o-comment-form {
    margin-top: $comment-form-margin-top;
}