@import './_variables';

.o-avatar {
    align-items: center;
    border-radius: $avatar-border-radius;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;

    img,
    svg,
    .o-icon,
    .o-image,
    .o-responsive__content {
        border-radius: inherit;
        display: inline-flex;
        height: inherit;
        width: inherit;
    }
}