@import "./variables";

@include theme("o-app-bar.o-toolbar.o-sheet") using ($theme) {
    background-color: map-get($theme, "app-bar");
}

@include sheet("o-app-bar.o-toolbar", $app-bar-elevation, $app-bar-border-radius, $app-bar-shaped-border-radius);

// Block
.o-app-bar {
    @include bootable();
}

// Modifier
.o-app-bar.o-app-bar--fixed {
    position: fixed;
    top: 0;
    z-index: 5;
}

.o-app-bar.o-app-bar--hide-shadow {
    // Workaround for cascaded elevation styles
    // that persist when the bar is inactive.
    @include elevation(0, true);
}

.o-app-bar--fade-img-on-scroll {
    .o-toolbar__image .o-image__image {
        transition: $app-bar-transition;
    }
}

.o-app-bar.o-toolbar--prominent.o-app-bar--shrink-on-scroll {
    .o-toolbar__content {
        will-change: height;
    }

    .o-toolbar__image {
        will-change: opacity;
    }

    &.o-app-bar--collapse-on-scroll {
        .o-toolbar__extension {
            display: none;
        }
    }

    &.o-app-bar--is-scrolled {
        .o-toolbar__title {
            padding-top: $app-bar-scrolled-title-padding-bottom;
        }

        &:not(.o-app-bar--bottom) {
            .o-toolbar__title {
                padding-bottom: $app-bar-scrolled-title-padding-bottom;
            }
        }
    }
}

.o-app-bar.o-app-bar--shrink-on-scroll {
    .o-toolbar__title {
        font-size: inherit;
    }
}

.o-app-bar-title {
    &__placeholder,
    &__content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__content {
        position: absolute;
    }
}
