@import "../../styles/styles";

$select-slot-height: 36px !default;
$select-chip-height: 28px !default;
$select-chip-margin: 2px 8px 2px 0 !default;
$select-selected-chip-opacity: 0.22 !default;
$select-prefix-line-height: 20px !default;
$select-prefix-top: 7px !default;
$select-chips-selections-padding-top: 42px !default;
$select-active-icon-flip: true !default;
$select-active-chip-opacity: 0.2 !default;
$select-small-chips-selections-min-height: 26px !default;
$select-chips-box-enclosed-selections-min-height: 68px !default;
$select-selections-line-height: 18px !default;
$select-selections-margin: 7px 4px 7px 0 !default;
